language: python

addons:
  apt:
    sources:
      - deadsnakes
    packages:
      - python2.4
      - python2.5
      - python2.6

matrix:
  include:
    - python: 2.7
      env: TOXENV=flake8
    - python: 2.7
      env: TOXENV=py24
    - python: 2.7
      env: TOXENV=py25
    - python: 2.7
      env: TOXENV=py26
    - python: 2.7
      env: TOXENV=py27
    - python: 3.2
      env: TOXENV=py32
    - python: 3.3
      env: TOXENV=py33
    - python: 3.4
      env: TOXENV=py34
    - python: 3.5
      env: TOXENV=py35
    - python: 3.6
      env: TOXENV=py36
    - python: pypy
      env: TOXENV=pypy

install:
  - if [[ $(echo "$TOXENV" | egrep -c "py32") != 0 ]]; then pip install setuptools==17.1.1; fi
  - if [[ $(echo "$TOXENV" | egrep -c "(py2[45]|py3[12])") != 0 ]]; then pip install virtualenv==1.7.2 tox==1.3; fi;
  - if [[ $(echo "$TOXENV" | egrep -c "(py2[45]|py3[12])") == 0 ]]; then pip install tox; fi;

script:
  - tox

notifications:
  email:
    - matt@sivel.net
